
Buscador/\.ipynb_checkpoints/

Buscador/\.spyproject/

Buscador/__pycache__/

Buscador/conv/

Buscador/img/

Buscador/imgnotebook/

Buscador/mnist/

Buscador/plano/

Buscador/checkpoint

Buscador/compressed\.pkl

Buscador/compressedconv\.pkl

Buscador/conteineresencoder\.tflearn\.data-00000-of-00001

Buscador/conteineresencoder\.tflearn\.index

Buscador/conteineresencoder\.tflearn\.meta

Buscador/devdata\.db

Buscador/encode_decode\.tflearn\.data-00000-of-00001

Buscador/encode_decode\.tflearn\.index

*.meta

*.index

*.db

ajna/ajna/__pycache__/

ajna/busca/__pycache__/

ajna/busca/plano/

ajna/busca/static/busca/2017/

ajna/busca/static/busca/2018/

ajna/busca/static/busca/2019/

ajna/busca/static/busca/2020/

ajna/busca/static/busca/2021/

ajna/busca/utils/__pycache__/

*.sqlite3

Buscador/modelconv\.ckpt\.data-00000-of-00001

ajna/busca/static/busca/\.directory

\.directory

ajna/busca/migrations/__pycache__/

ajna/busca/utils/histogramsregressao\.pkl

ajna/busca/utils/labelsregressao\.pkl

ajna/agendamentoMARIMEX20170709 2150

ajna/agendamentoMARIMEX20170712 2150

ajna/\.spyproject/

ajna/agendamentoMARIMEX20170830 2359

ajna/agendamentoSTSBR20170808 1213

ajna/manage\.bat

ajna/busca/migrations/0021_auto_20170831_1649\.py

ajna/agendamentoMARIMEX20170901 2359

ajna/agendamentoMARIMEX20170902 2359

ajna/agendamentoMARIMEX20170903 2359
