{% load staticfiles %}
<html>
    <head>
        <title>AJNA - interface web Django </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/busca">AJNA - Interface Web</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                
{% if mensagem %}
<div class="post">
<p>{{ mensagem }}</p>
</div>
{% endif %}

                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>