{% extends 'busca/base.html' %}
{% block content %}
<div class="w3-container w3-padding-32 w3-left">  
            <div class="w3-third"><b>
            <p>Data de registro:</p>
            <p>Numero:</p>
            <p>Truck ID:</p>
            <p>Fonte:</p></b>
            </div>
            <div class="w3-third"><p> {{ conteinerescaneado.pub_date }}</p>
            {{ conteinerescaneado.numero }}</p>
             {{ conteinerescaneado.truckid }}</p>
             {{ conteinerescaneado.fonte.nome }}</p>
            </div>
            <div class="w3-third">
            <b>Miniatura</b><br>
            <img src="/static/busca/{{ conteinerescaneado.arqimagem }}" alt="{{ conteinerescaneado.arqimagem }}"/><br>
            </div>
            <div class="w3-container w3-padding-32 w3-left">
            <h5><i><a href="/busca/buscasimilar/{{ conteinerescaneado.id }}/"> Procura similar</a></i></h5>

            <h1>{{ testavazio }}</h1>
             <p>Imagem 'Stamp' original:</p>
            <img src="/static/busca/{{ conteinerescaneado.arqimagemoriginal }}" alt="{{ conteinerescaneado.arqimagemoriginal }}"/><br>
            </div>
</div>
{% endblock %}