{% extends 'busca/base.html' %}
{% block content %}
<div class="w3-container w3-padding-32 w3-left">  
            <p>    Data de registro: {{ conteinerescaneado.pub_date }}</p>
            <p>Numero: {{ conteinerescaneado.numero }}</p>
            <p>Truck ID: {{ conteinerescaneado.truckid }}</p>
            <p>Fonte: {{ conteinerescaneado.fonte.nome }}</p>
            <p>Miniatura:</pr>
            <img src="/static/busca/{{ conteinerescaneado.arqimagem }}" alt="{{ conteinerescaneado.arqimagem }}"/><br>
            <p><a href="/busca/buscasimilar/{{ conteinerescaneado.id }}/"> Procura similar</a></p>

            <h1>{{ testavazio }}</h1>
             <p>Imagem 'Stamp' original:</p>
            <img src="/static/busca/{{ conteinerescaneado.arqimagemoriginal }}" alt="{{ conteinerescaneado.arqimagemoriginal }}"/><br>
</div>
{% endblock %}