{% extends 'busca/base.html' %}
{% block content %}
<div class="w3-container w3-padding-32 w3-center">  
<h4>Este formulário permite o UPLOAD de csv de lista de vazios extraída do CARGA para checagem</h4>
</div>
<div class="w3-container w3-padding-32 w3-left">
<form action="/busca/listavazios/" method="post" enctype="multipart/form-data" id="frmlistavazios">
{% csrf_token %}
<h3><i>Informe um arquivo CSV com os números de contêineres da lista de vazios</i></h3>
<input type="file" name="csv"><br>
<input type="submit" value="Submeter arquivo">
</form>
</div>

{% endblock %}
