{% extends 'busca/base.html' %} {% block content %}
<div class="row">
    <div class="col-sm-4">
        <h4>Lista de Recintos que fornecem imagens</h4>
        {% if FonteImagem_list %} 
        {% for FonteImagem in FonteImagem_list %}
        <h5>
            <b><a href="/busca/{{ FonteImagem.id }}/">{{ FonteImagem.nome }}</a></b>
        </h5>
        {% endfor %} {% else %}
        <p>Sem fontes cadastradas.</p>
        {% endif %}
    </div>
    <div class="col-sm-4">
        <h4>Total de imagens de escaneamento importadas: {{ total }}</h4>
        <div class="chart">
            {% if percentuais %} {% for key, value in percentuais.items %}
            <div style="width: {{value}}px;">{{ key }}</div>
            {% endfor %} {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <h4>Agendamentos programados:</h4>
        {% if agendamentos %} {% for agendamento in agendamentos%}
        <p>{{ agendamento }}</p>
        {% endfor %} {% endif %}
    </div>

</div>

{% endblock %}