{% extends 'busca/base.html' %}
{% block content %}
<div class="w3-container w3-padding-32 w3-left">
    <div class="w3-padding-16 w3-left">
        <table>
        {% if listanaovazios %}
            <tr><th colspan="2">Contêineres testados como NÃO vazios</th></tr>
            {% for ConteinerEscaneado in listanaovazios %}
            <tr>
            <td>
                <a href="/busca/conteiner/{{ ConteinerEscaneado.id }}/"><img src="/static/busca/{{ ConteinerEscaneado.arqimagem }}"
                   alt="{{ ConteinerEscaneado.arqimagem }}"/>
            </td>
            <td>
                 <a href="/busca/conteiner/{{ ConteinerEscaneado.id }}/">{{ ConteinerEscaneado.numero }}</a>
            </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><th colspan="2">Sem contêineres testados como NÃO vazios</th></tr>
        {% endif %}
        
        {% if listanaoencontrados %}
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr><th colspan="2">Contêineres NÃO encontrados</th></tr>
            {% for numero in listanaoencontrados %}
            <tr><td>
                 {{ numero }}</a>
            </td></tr>
            {% endfor %}
                </div>
        {% else %}
            <tr><th colspan="2">Sem contêineres NÃO encontrados</th></tr>
        {% endif %}
        
        {% if listavazios %}
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr><th colspan="2">Contêineres testados como VAZIOS</th></tr>
            {% for ConteinerEscaneado in listavazios %}
            <tr><td>
                 <a href="/busca/conteiner/{{ ConteinerEscaneado.id }}/">{{ ConteinerEscaneado.numero }}</a>
            </td></tr>
            {% endfor %}
                </div>
        {% else %}
            <tr><th colspan="2">Sem contêineres vazios</th></tr>
        {% endif %}
        
        </table>
    </div>
    <div class="w3-right w3-padding-16">
        <style>
        .chart div {
          font: 10px sans-serif;
          background-color: steelblue;
          text-align: right;
          padding: 3px;
          margin: 1px;
          color: white;
        }
        
        </style>
        <div class="chart">
          <div style="width: {{ percnvazios }}px;">NÃO VAZIOS</div>
          <div style="width: {{ percnencontrados }}px;">NÃO ENCONTRADOS</div>
          <div style="width: {{ percvazios }}px;">VAZIOS</div>
        </div>
    </div>
</div>

{% endblock %}